[2015-12-08 14:47] samirgit opened #1 "Problem when trying to use Factories"
i couldn't load database factories located in [ src/Services/{serviceName}/Database/factories ],

the Illuminate\Database\Eloquent\Factory class has a static constructor, i tried to change the factory paths by placing the below inside my `ServiceProvider::register()` function

<pre>
$faker =  new Faker;
$this->app->singleton(Factory::class, function () use ($faker) {
      return Factory::construc

[2015-12-09 09:00] Mulkave commented on #1
What's the folder structure like for the database factories in your service ?

[2015-12-10 10:59] samirgit commented on #1
So i have an API service,

Structure for the factories: src/Services/Api/Database/factories/[All files here]

[2015-12-10 12:22] Mulkave commented on #1
I assume that your custom factories under that directory are recognised by the service (reached and being read _i.e. if you `dd('something')` inside that file it will die and dump it_), the formatter issue is considered as a Faker issue in that case. See https://github.com/fzaninotto/Faker/issues/344 and https://github.com/fzaninotto/Faker/issues/441

Can you confirm?

[2016-08-24 11:56] bart opened #2 "Release for Laravel 5.3"
To get Laravel 5.3 out of the box we need a new release I think. Thanks!

[2016-08-25 11:54] bart opened #3 "It does not seem to work"
Unfortunately it doesn't seem to work correctly. When following the instructions from the README I'm getting "BadMethodCallException in Controller.php line 79: Method [dispatchFromArray] does not exist."

I wanted to start a new project because everything has sound so good at your Laracon EU talk. But it seems like lucid isn't production ready yet, isn't it?

[2016-08-25 17:03] adammcd9 commented on #3
Before I open a separate issue, does your project have Laravel 5.2, or 5.3? I'm following the download instructions but by default it is downloading 5.2, not 5.3 as stated in the docs.

[2016-08-26 07:55] bart commented on #3
I did try out both versions. I already created another issue for the 5.3 problem but it hasn't to do anything with this issue here. You can get 5.3 by using lucid-arch/laravel=dev-master

[2016-08-26 11:30] Mulkave commented on #2
@bart thanks for raising, had the 5.3 branch up but missed the merge with master 😄

It is now 5.3 by default (if you do not specify a version on installation such as `lucid-arch/laravel=5.2`)

[2016-08-26 11:30] #2 closed, assigned to nobody

[2016-08-26 11:32] Mulkave commented on #3
@bart Can you please confirm that you have registered the service after creating it? https://github.com/lucid-architecture/laravel#register-service

[2016-08-26 11:33] Mulkave commented on #3
@Nublust It is now 5.3 by default and there are 5.2 and 5.1 versions. Please see #2

[2016-08-26 11:34] Mulkave commented on #1
@samirgit any updates on your issue?

[2016-08-26 12:04] samirgit commented on #1
@Mulkave last comment Dec 2015, rebooting project in sep 15, gonna start fresh

joined Speed@BDD, i have seen you listed as a mentor, still there?

[2016-08-26 12:58] bart commented on #3
@Mulkave I think there is a difference between stub, console output and documentation here. The handle() method in ServiceProvider does not exist. We only have a register() method here where I've added it to, yes. Btw. I've created a pull request for the laravel-console package that fixes some wrong stub paths

[2016-08-28 10:58] Mulkave commented on #3
@bart oops, that's a type-o over there. Thanks a bunch for this and for the PR in console.

[2016-08-28 10:58] #3 closed, assigned to nobody

[2016-08-28 10:58] Mulkave commented on #1
@samirgit yep

[2016-10-13 07:15] lezhnev74 opened #6 "Should feature depend on a Request object?"
Hi Abed! Just watched your great talk on LaraconEU and one thing keeps jumping in my head.

Should Feature really depend on Http Request?
I mean there might be different cases where we want to call the feature (for example from console command). I always thought of Controllers as adapters between HTTP world and internal business logic.

What is your opinion on that?

I'd say there can be some deco

[2016-10-13 09:33] Mulkave commented on #6
@lezhnev74 Glad you enjoyed the talk!

What you said about Features not depending on Request makes total sense, which is why they don't necessarily have to do with requests. If you do not inject the `Request` in your Feature class it won't need it. As for calling a Feature from the a console command or any other place is totally possible.

You have to simply use `Lucid\Foundation\ServesFeaturesTra

[2016-10-13 09:34] Mulkave commented on #6
@harris21 can also shed some light on that matter for he's done that kind of work in one of his projects.

[2016-10-13 11:06] lezhnev74 commented on #6
Thanks for the in-depth reply!

I remember you were saying that every service should have its own copy of a feature. This way things stay more maintainable. I understand that.

Regarding my question, I believe there should be two separate Features for "web" and "console" services (with the same name if needed). Does that look like a solution to you?

p.s. I participated in many growing over time p

[2016-10-13 12:32] websmurf opened #7 "Error while executing Unittests"
Hi there,

Based on your presentatie we started to build an application using the Lucid principe.
I'm running into an issue while executing the unittests from the services.

The error I'm getting is:

[code]

I've narrowed it down to /vendor/lucid-arch/laravel-console/src/Http/routes.php, there is a class "Controller" defined there. The unit tests load this file more than one time, resulting in th

[2016-10-13 12:33] websmurf opened #8 "What to test exactly in a FeatureTest"
Hi there,

Just wondering about the following. What exact do you advise to test while testing a feature?
The response of the feature? Or if all steps that are defined are being called?

Best regards

Adam

[2016-10-13 13:34] lezhnev74 opened #9 "Event based execution flow and Lucid Features"
I wonder how Lucid architecture describes event based business logic.
How does event handling lays into Lucid paradigm?

For example both `CreateNormalAccountFeature` and `CreateVipAccountFeature` create a new account. Let's say, later we decided to have a notification about new accounts. One way is to insert "sendNotificationJob" into each Feature, the other is to hook an event "account_created"

[2016-10-13 13:50] Mulkave commented on #7
This issue exists in an older version of the package. What is the version of the `lucid-arch/console` package in your `composer.lock`?

[2016-10-13 13:53] websmurf commented on #7
Hi Abed,

Generated the project ± 2 weeks ago. I don't have `lucid-arch/console`, but I do have `lucid-arch/laravel-console`:

[code]

In the current master branch, this piece is still there: https://github.com/lucid-architecture/console-laravel/blob/master/src/Http/routes.php

[2016-10-13 13:56] Mulkave commented on #8
Hi Adam,

Feature tests should be your functional tests, which is where you test it as a "client" with a Request/Response and you would assert the received response to be what you expect the client to receive, similar to [Testing JSON APIs](https://laravel.com/docs/5.3/application-testing#testing-json-apis) of the Laravel docs. Which means you'd make sure that the Feature is exposed correctly thro

[2016-10-13 14:01] websmurf commented on #8
Thanks, that makes sense

[2016-10-13 14:01] #8 closed, assigned to nobody

[2016-10-14 07:03] Mulkave commented on #9
I see events as part of Domains, and it would be best to have something like `Domains/Account/Events/AccountCreatedEvent` class.

Here’s a little tip on how I approach figuring out the location of classes:
- The first step of the thought process is discoverability: If I wanted to find this class again after a long time passes, where would I instinctively go to look for it? (hence, Domains)
- Then

[2016-10-14 07:28] lezhnev74 commented on #9
Placing events to Domains (like to `Domains/Account/Events/AccountCreatedEvent`) makes sense and I'd defenitely look for it there.

But the place to put listeners to is something unclear to me.
Listeners should be as public as HTTP routes. Routes declare "doors" to access app via HTTP. Listener maps should declare "doors" to access app via events.

From the top of my head I'd put listeners to `Ser

[2016-10-14 08:00] Mulkave commented on #9
Ah, listeners. Yes! definitely part of Services, it is where they belong.

Whether they should call a Feature or a Job is use-case dependent. A Feature is dedicated for what is "exposed" or being discussed as part of the core of the product, but an event occurring is more of a "step" of the Feature.

Unless it is core to the product, I'd have them call a series of Jobs just like a Feature would.

[2016-10-14 08:48] alisissa commented on #6
@lezhnev74 having duplicate features to serve different entry points isn't the solution for your case, in fact this will violate the Lucid principle of reusability, since features don't know or care actually who will be calling them, they  can serve these entry points (web, console or messaging queue).

I've implemented a feature which deals with messaging queue and it definitely can serve a contr

[2016-10-14 09:35] lezhnev74 commented on #6
@aliissa Yeah, your solution does not depend on Request object and rather on some internal `message` which can be decoded with a job `DecodeMessageJob` - this is a way of implementation.

My initial concern was about Feature needs to know about HttpRequest object. As Abed explained he liked the power of built-in helpers that comes with Request object. In your case, Feature depends on some internal

[2016-10-17 18:55] harris21 commented on #6
Hey @lezhnev74, regarding calling a feature using a different way other than the HTTP - conventional one, please take a look at [this](https://blog.vinelab.net/the-lucid-architecture-serving-features-from-laravels-console-commands-429f81c3aa22#.m3nwnprx8) blog post.
I hope this can be helpful and makes things more clear for you.

[2016-10-20 08:25] Mulkave commented on #6
@lezhnev74 regarding your point "p.p.s. Are you planning to make a website to keep the discussion about this Lucid approach - it seems there can be many things to discuss and many developers can benefit from that."

Here it is 😄 https://lucid-slack.herokuapp.com

Please feel free to invite whoever you know might be interested.

[2016-10-20 08:31] Mulkave commented on #7
@websmurf couldn't re-produce that honestly, are you still facing this issue?

[2016-10-25 10:31] m33ch commented on #9
Hi all,

i discovered lucid framework right now, and I find it very interesting.

I'm confused about the listeners.
Why create the `Listeners.php` files?
What should be in it?

I thought it would be interesting to create the `EventServiceProvider.php` file (laravel native).
The "subscriptions" in this way could also manage.

What's your opinion about that?

Thanks

[2016-10-31 15:46] apepindev commented on #7
@websmurf Have you had anymore issues with this? I came across a similar error with the same routes file but in my case the controller class couldn't be _re_-declared.

[code]

I noticed that in [laravel-console/src/LucidServiceProvider.php](https://github.com/lucid-architecture/console-laravel/blob/master/src/LucidServiceProvider.php#L30) where the routes file is being required that when set to `

[2016-10-31 16:22] apepindev commented on #7
I've managed to reproduce this error on a fresh project doing the following;
1. `composer create-project lucid-arch/laravel test-project`
2. `phpunit` runs fine
3. `vendor/bin/lucid make:service Test`
4. Added `$this->app->register(TestServiceProvider::class);` to `test-project/src/Foundation/ServiceProvider.php` (even though the output from the previous command advised to register it as `$this->a

[2016-11-02 14:24] Mulkave commented on #7
Thanks @Paradiddley will look into it.

[2016-11-02 14:54] Mulkave commented on #7
It appeared to be a silly fix for a rookie mistake 😅. Please update the console package for the fix

[code]

[2016-11-02 14:54] #7 closed, assigned to nobody

[2016-11-03 11:44] apepindev commented on #7
Great! Thanks @Mulkave

[2016-11-25 09:48] Mulkave commented on #9
@m33ch sounds interesting, can you please give an example of where these files would be and how they would play with the rest of the architecture? i.e. Services/Domains etc.

[2017-01-04 09:44] lezhnev74 opened #14 "Data and migrations"
I feel like there is a lack of database migration support in Lucid.

1. There is a folder within each service called `database` where I can see `database/migration` but the data is also located in `Data` folder. How do those relate to each other?
2.  `lucid` does not have any way to make a migration (while it has a `make:model` command). Why?

[2017-01-24 08:18] nguyenphuocnhatthanh opened #15 "How to use Domain/Queue?"
I see class AbstractQueue, but i dont see code example for use it.
Can you help me show demo ?

[2017-02-10 18:55] dstollie opened #16 "Upgrade to laravel 5.4"
After watching the talk on Laracan Amsterdam I was really excited to use lucid for our next application. Unfortunately Lucid is is not yet build to be compatible with laravel 5.4. Could lucid be upgraded to use laravel 5.4?

[2017-02-10 23:51] adibhanna commented on #16
@dstollie I asked the same question to @Mulkave and I believe he's going to upgrade it really soon.

[2017-02-13 18:14] adibhanna opened #18 "Update docs to reflect on the changes for Laravel 5.4"

[2017-02-14 08:04] dstollie commented on #16
@adibhanna thanks, Ill wait with excitement :)

[2017-02-17 20:08] adibhanna opened #19 "Add Exceptions folder with a Handler class when creating a new service"

[2017-02-17 20:13] adibhanna commented on #16
@dstollie Lucid is upgraded to L5.4 :)

[2017-02-19 04:51] #16 closed, assigned to nobody

[2017-02-24 10:54] Paradiddley opened #20 "Update wiki on testing operations"
I'm curious as to what the recommended approach is on testing operations? We've started using them and it's a good concept, but I'm uncertain whether these are to be tested as unit or functional as I referred to the wiki on testing jobs and features.

Currently one of my operations relies on a DTO passed through to it that has been processed in previous jobs. If I was to functionally test it, I wi

[2017-05-08 07:13] lezhnev74 commented on #20
I think I want to upvote this one since its always good to have examples of writing tests in the documentation.

[2017-05-08 16:10] fgilio commented on #20
@lezhnev74 I second that

[2017-06-25 16:31] vitoo commented on #14
Did you succeed to make a migration in the src/Api/database/migration ?

Looks like` php artisan migrate && db:seed `does not looks for src/Api/database/

[2017-09-11 00:21] n00el opened #22 "Laravel 5.5"
Hello.
Any future plan abaut update to laravel 5.5?
I really need this! 👍

[2017-09-15 06:43] Mulkave commented on #22
Hello @n00el, expected this weekend 😄

[2017-10-17 08:01] jerrebm commented on #22
@Mulkave Is this still happening? 😃

[2017-10-19 09:49] Mulkave commented on #22
Yes! Unfortunately things got messy on my side 😓 should be by the end of this week. Sorry!

Appreciate a PR if someone can before then.

[2017-10-31 22:46] Mulkave commented on #22
Thanks to @harris21 we have it now 😄 https://github.com/lucid-architecture/laravel/tree/master

Extremely sorry for this delay!

[2017-10-31 22:46] #22 closed, assigned to nobody

[2017-11-20 09:24] olehhrynkiv opened #24 "Method [dispatchFromArray] does not exist."
BadMethodCallException in Controller.php line 107:
Method [dispatchFromArray] does not exist.

I'm checking DispathcesJobs trait and this method doesn't exist. I've installed 5.2.x

[2017-11-20 09:26] olehhrynkiv commented on #24
also abstract class Feature has method run which also uses unexisting usesdispatchForm and dispatchFromArray methods

[2017-11-24 14:51] harris21 commented on #24
@olehhrynkiv Can you provide more information on how to replicate this error?

[2017-11-24 15:18] olehhrynkiv commented on #24
sorry guys, my bad. Maybe I've used some wrong package, have checked 5.2 branch and it does work well. Still can't get how did I face this issue. In my installation Feature class is in App\Foundation and uses dispatchFrom and dispatchFromArray

[2017-11-24 15:18] #24 closed, assigned to nobody

[2017-11-25 08:08] sharik709 opened #25 "how do I use @extend blade function?"
What I am asking is. Like normally we extend our page to master blade page. How do I extend service views to layouts/master folder which is inside of service's resource view folder.

[2017-11-25 15:30] sharik709 commented on #25
Ohh found it. Just need to prefix service name before view like

<code>@extends('service-name::layouts.master')</code>

[2017-11-25 15:31] #25 closed, assigned to nobody

[2017-12-25 00:29] skalero01 opened #27 "How to access to the statistics views"
Hi, i just saw the conference about the lucid architecture on youtube (https://www.youtube.com/watch?v=wSnM4JkyxPw)

In the minute 31:20 a dashboard with statistics about the code is shown but in the readme file and on the wiki there is not any information about how to get it working.

Does anyone know how to anable this feature?

[2017-12-26 09:01] harris21 commented on #27
Hey @skalero01 , is https://github.com/lucid-architecture/laravel#launching-the-interactive-console-ui what you are looking for?

[2018-02-23 19:04] jeffegiovani opened #29 "Laravel 5.6"
Hi Dears!
The upgrade to Laravel 5.6 is on the roadmap?

Regards!

[2018-03-08 20:00] harris21 commented on #29
Hey @jeffegiovani , yes definitely! We'll try to find some time and add the v5.6 upgrade. Meanwhile, any PRs on this matter are welcome!

[2018-04-05 19:59] n00el commented on #29
Any info about 5.6? When will you release it?

[2018-04-15 20:59] harris21 commented on #29
Updated to Laravel v5.6 in https://github.com/lucid-architecture/laravel/pull/30. Cheers!

[2018-04-15 20:59] #29 closed, assigned to nobody

[2018-05-26 15:40] ModestasBlazys opened #31 "Object of class could not be converted to string"
Hi,

Found this by accident.

MarshalTrait.php, Line 61

`throw new Exception("Unable to map parameter [{$parameter->name}] to command [{$command}]");`

when I hit this line received following error

Object of class could not be converted to string

I suspect that it complains about $command

Thanks

[2018-06-11 06:22] MattCraftsCode opened #32 "lucid now support lumen? and how integrate with lumen"
lucid now support lumen? and how integrate with lumen

[2018-09-12 05:16] JbalTero commented on #20
Agree

[2018-09-13 05:56] jbalatero opened #33 "`TypeError: this.$els.jobCodeDialog.showModal is not a function` when viewing a Domain job code"
## Summary
In the browser developer tools console, there is an error: `TypeError: this.$els.jobCodeDialog.showModal` when viewing a Domain job code. Viewing of code in Services and Features also does not work.

## Steps to Reproduce:
* `composer create-project lucid-arch/laravel my-project`
* `cd my-projec`t
* `php artisan vendor:publish --provider="Lucid\Console\LucidServiceProvider"`
* In the br

[2018-09-25 20:44] harris21 commented on #32
Lucid doesn't support Lumen at the moment.
This is tricky because Lucid uses most of Laravel's supported packages, which is something that Lumen doesn’t include by default.

[2018-09-28 02:44] nicholaschun commented on #14
Has anyone succeeded in migrating migrations in each service in Lucid?

[2018-11-12 08:10] harris21 commented on #31
Hey @ModestasBlazys , I could not replicate the issue. Is this still the case? Could you please elaborate on this?

[2018-11-15 23:10] jbaron-mx opened #34 "5.1, 5.2, 5.3 and 5.4 installation not working"
Hello,

I've been testing out the Installation section and found out it is failing for Laravel 5.1, 5.2, 5.3 and 5.4. It is throwing the following error message

CLI output for 5.1 installation:
[code]

The problem seems to be introduced since the dependencies got updated in the **lucid-arch/laravel-console** repo. Commit [6abdcc3](https://github.com/lucid-architecture/console-laravel/commit/6abdc

[2018-11-15 23:26] jbaron-mx opened #35 "Lucid Dashboard not showing"
Hello,

Did a fresh 5.6 installation by following the Getting Started instructions, but can't get the Lucid Dashboard to show by visiting the `/lucid/dashboard` page, it is throwing a 404 page instead, looks like the routes are not being registered.

- Working on Homestead 6.4
- Clean installation, no services/features were added.

Any idea on where to look first?

[2018-11-16 11:25] harris21 commented on #35
Hello @jbaron-mx, I wasn't able to replicate this issue.

Please make sure that you follow the steps mentioned [here](https://github.com/lucid-architecture/laravel#launching-the-interactive-console-ui)
1. Run `php artisan vendor:publish --provider="Lucid\Console\LucidServiceProvider"`
2. Run `php artisan serve` and then visit ` /lucid/dashboard` url as intended

[2018-11-16 17:30] jbaron-mx commented on #35
@harris21 You were right. I just re-do all the steps and it's working, my bad. Thank you anyway for checking.

[2018-11-16 17:30] #35 closed, assigned to nobody

[2018-11-19 16:14] Shkryob opened #38 "composer install --no-dev fails"
When I create new Lucid project

```composer create-project lucid-arch/laravel test-lucid```

and run
[code]
It fails with error

[code]

Lucid\Console\LucidServiceProvider class is used in config https://github.com/lucid-architecture/laravel/blob/master/config/app.php#L164
and specified as dev dependency https://github.com/lucid-architecture/laravel/blob/master/composer.json#L21

I expect dev dep

[2018-11-24 14:26] Mulkave commented on #38
the console's LucidServiceProvider hooks https://github.com/lucid-architecture/console-laravel into the project. It is better to not have it in production to prevent running a console command that might modify something within the code (like create a feature or job or controller) even though not destructive.

You can safely remove the service provider from `config/app.php`, it is only used to serv

[2018-11-27 10:20] Shkryob commented on #38
@Mulkave I think better approach is to use Laravel package autodiscovery https://github.com/lucid-architecture/console-laravel/pull/35
This way it will work on all the environments.

[2018-12-05 23:48] believe2013 opened #39 "API versioning"
Is working with multiple versions of api supported?
/api/v1/users
/api/v2/users

[2019-01-10 09:37] dothem1337 commented on #32
Is the speed still enought for microservices? Lumen is build for microservices, Laravel not.

[2019-02-06 21:13] flavioafa opened #40 "How to introduce Lucid architecture into an existing project?"
Hello guys!

I'm starting with Lucid and would like some tips on how to add it to an existing project. How do I add the Lucid library to an existing project? How do I add the Lucid console to an existing project? I would like at the moment to use Lucid just for new features and gradually go refactoring the code to adhere to the architecture. Remembering that the project is monolithic and the idea

[2019-02-07 08:40] harris21 commented on #40
Hello @flavioafa, welcome!

There is an article written specifically for people who want to convert their existing Laravel project to [Lucid](https://tech.vinelab.com/convert-laravel-app-architecture-to-lucid-a260541c411b). I suggest you convert your project to https://github.com/lucid-architecture/laravel first, even though it will still be a monolith. This will make your future transition from a

[2019-02-19 19:57] XavierTecBr commented on #33
I'm having the same error using firefox, but it's working on chrome

[2019-02-28 10:54] harris21 opened #41 "Add Laravel v5.8 support"

[2019-03-07 09:25] yeftaw opened #42 "Namespace in lucid "make" command"
Please add an option to set namespace when creating file like: controller, job, etc. In artisan we can do like this: php artisan make:controller "Catalog\ProductController", then this file will be located on app\Http\Controllers\Catalog\ProductController.php. Can we do it on lucid command which is similar to the artisan command?

Thank you.

[2019-03-07 09:38] KinaneD commented on #42
Sure, `lucid make:controller Users API` will create the `UsersController` in the `API` service, the namespace for that would be `app\Services\API\Http\Controllers\UsersController`.
https://github.com/lucid-architecture/laravel#feature

Unless you are looking to group that service's controllers in separate directories. Something like `lucid make:controller Users\Search API` would create the `UsersS

[2019-03-09 06:42] #34 closed, assigned to nobody

[2019-03-12 08:01] yeftaw commented on #42
Agreed with you Kinane.

[2019-03-12 08:01] #42 closed, assigned to nobody

[2019-03-13 03:22] kennyhorna commented on #41
Hello @harris21  do you have an estimated date for the 5.8 compatibility? Thanks in advance.

[2019-03-13 07:55] harris21 commented on #41
Hey @kennyhorna , no ETA at the moment. I will try to add Laravel v5.8 support as soon as I get the chance though, hopefully by the EOW. Meanwhile, PRs are more than welcome 😄

[2019-03-22 12:16] elymatos opened #43 "How about GraphQL and CommandBus?"
Hi, thanks for the god job!
I'm considering LUCID adoption, but my current app uses GraphQL and CommandBus (via Tacitian). I'm wondering how these pieces come in the LUCID architecture. Any suggestions?
Thanks,
Ely

[2019-03-24 00:49] yeftaw commented on #41
Wait for a moment till bugs in laravel 5.8 has been fixed.

[2019-03-24 18:39] sasokovacic commented on #41
What's the status? I would like to use Laravel 5.8 because of Laravel Tenancy package...

[2019-04-03 22:51] jvv8 commented on #41
I can't speak highly enough about Lucid.
If you have a large project, it's the only way to go in my opinion.
Like many on the 5.8 issue, a 3rd party update has dependancies required for functionality.
Abed, are there problems with the structure integrating with L5.8?
Highest respect,
John VV

[2019-04-08 19:35] kennyhorna commented on #41
Hello @harris21  /@Mulkave did you find time to update this amazing project?

[2019-04-09 07:59] harris21 commented on #41
Hello all, I'll do my best to add Laravel v5.8 support this weekend. Cheers!

[2019-04-09 10:59] rfpdl opened #44 "Factories - model class not found"
I am currently writing test code for one of my project and in need to use factories.

composer.json (autoload block):

    "autoload": {
        "classmap": [
            "database",
            "database/factories"
        ],
        "psr-4": {
            "Framework\\": "app/",
            "App\\": "src/",
            "Tests\\": "tests/"
        }
    },

Company model (located at `src/Data/Comp

[2019-04-09 11:05] alexvtua commented on #44
The factory should be the
Company factory (located at app/database/factories/CompanyFactory.php)

[code]

after changing this perform next commands:

[code]

[2019-04-09 11:50] rfpdl commented on #44
@alexvtua I did as you mentioned, I am getting this error:

`Error: Class 'Company' not found`

[2019-04-18 10:17] sasokovacic opened #46 "InvalidInputException returns wrong status code"
Hi,  InvalidInputException should return status code 422 and not 500.
5XX are server errors and 4XX are client errors. I get this status when I validate user input...
As I can see there is no way to set status code on your Validator class

[2019-04-18 10:25] mister-x-ops commented on #44
@rfpdl I believe you should use
`$factory->define(\App\Data\Company::class, function (Faker $faker) {`
instead of `$factory->define(App\Data\Company::class, function (Faker $faker) {`

there is a missing `\` (it should be added in the code to be known that you look at the global scope of namespaces)

in another way you could import `import App\Data\Company` at the top
and use `Company::class`

[2019-04-23 00:52] kennyhorna commented on #44
AS @o-hreshchuk suggested try this:

[code]

I have my factories running using this approach.

[2019-04-23 00:54] kennyhorna commented on #46
Could you provide the related code and steps to reproduce?

[2019-04-24 08:20] sasokovacic commented on #46
`namespace App\Domains\User;

use Lucid\Foundation\Validator;

class NewUserValidator extends Validator
{
    protected $rules = [
        'last_name'             => 'required',
        'first_name'            => 'required',
        'email'                 => 'required|email|unique:users,email',
        'is_enabled'            => 'required|boolean',
        'password'              => 'required|min

[2019-05-28 15:10] #41 closed, assigned to harris21

[2019-06-09 10:03] meletisf commented on #39
No. But you can create a new Api Service and prefix the routes with your api version.

[2019-06-12 18:29] pcova opened #48 "How to use a middleware inside src/Services/SomeService/Http/Middleware folder?"
Hi, I created a middleware that is inside the `src/Services/MyService/Http/Middleware` folder, but when I try to use it the application says

Is this supposed to happen? The Service is registered on `src/Foundation/ServiceProvider.php`, is it necessary to do anything else in order to use the middlewares?

Thanks.
And by the way, good job with this repository it is an excellent idea.

[2019-06-12 18:39] meletisf commented on #48
Hello,

It seems like you haven't pulled the correct namespace for your middleware.

Could you please tell me in which namespace your middleware is placed under?

Thanks

[2019-06-12 18:45] meletisf commented on #38
I might create a PR for that.

[2019-06-12 18:45] pcova commented on #48
@meletisf you are correct, I had the wrong Namespace.

I had `Framework\Http\Middleware` instead of `App\Services\MyService\Http\Middleware`

Thank you and sorry for the inconvenience.

[2019-06-12 18:45] #48 closed, assigned to nobody

[2019-06-12 18:46] meletisf commented on #48
No problem. Always happy to help.

[2019-06-15 21:08] CROSP opened #49 "Passing arguments to a template from a Controller"
Hi,
First of all, thanks for a great library and architecture definition.

I have just started applying this architecture. Currently, I am trying to figure out how to pass some arguments from a `Controller` to a template.

Consider, we have a `BaseController` class and it has the `getMenuItems` method, some other controllers may override this method to provide additional items.

	public function g

[2019-06-16 10:05] CROSP opened #50 "How to inject dependencies from the IoC Container"
Hi,

I have the following problem. I've defined a repository interface and an implementation as follows:

[code]
And in the service provider, I register this repository as a singleton:

[code]

But how to inject these dependencies into a `Feature` or a `Job`. When  I try to inject via a constructor, I get the following error:

`Unable to map parameter [userRepository] to command [App\Services\Web\

[2019-06-16 10:16] harris21 commented on #50
Hey @CROSP, I suggest that you inject your dependencies inside inside `handle()` method of `Jobs`.
Use `Jobs` to document the "steps" of your `Feature`.

**Example**:
Create a Job (e.g. GetUsersJob) and add your repository's dependency in that job. Now you'll have a Job that will fetch all your users and can be re-used across multiple Features in your app.

[code]

[2019-06-16 10:23] CROSP commented on #50
@harris21 , omg, I am really confused :) This was the first way I tried to use to inject dependencies. This looks pretty nice from the architectural perspective. I tried to do that yesterday and got the same error as described above, however I've just tried again and it works perfectly, lol :)
I appreciate  your help!

[2019-06-16 10:25] harris21 commented on #50
I am glad that it worked, cheers!

[2019-06-16 10:25] #50 closed, assigned to nobody

[2019-06-16 10:30] harris21 commented on #50
@CROSP You can read more about Lucid Architecture, including code examples, in the following articles:

- https://tech.vinelab.com/the-lucid-arhitecture-implementation-be99abd108cf
- https://tech.vinelab.com/introducing-operations-the-lucid-architecture-bad45f259a1d
- https://tech.vinelab.com/the-lucid-architecture-serving-features-from-laravels-console-commands-429f81c3aa22

[2019-07-08 19:12] CROSP commented on #9
Hi guys,
I am curious about events as well. Who should be responsible for emitting events a Feature or a Job.
For example I need to create an aggregate entity order with order items, at first I create the order and then items. I have two jobs `CreateOrderJob` and `CreateOrderItemJob`. I am running the persisting process in a transaction therefore If I emit an event from a Job it may be invalid in

[2019-07-08 19:31] meletisf commented on #9
Indeed it makes more sense to fire events from within the features. Unless the job is only responsible for firing that event.

[2019-07-08 22:14] harris21 commented on #9
Hello guys,

the only think that a feature is responsible for is using the right jobs to accomplish a feature. Think of a feature as your ultimate goal and the jobs are the steps towards that goal.

That said, your feature shouldn’t be responsive for any action. In this case, you should utilize a job to achieve what you wish.

Cheers!
On 8 Jul 2019, 22:31 +0300, Meletis Flevarakis <notifications@g

[2019-07-26 18:23] jakjr opened #51 "Is this project active??"
Hello!

I really enjoy this project, and woud like to know is it still active??

Any other documentation apat from github and the video from laracon?

Thanks.

[2019-07-28 16:37] harris21 commented on #51
Hi @jakjr ,

you can also take a look at the following posts:
- https://tech.vinelab.com/the-lucid-architecture-serving-features-from-laravels-console-commands-429f81c3aa22
- https://tech.vinelab.com/introducing-operations-the-lucid-architecture-bad45f259a1d
- https://tech.vinelab.com/convert-laravel-app-architecture-to-lucid-a260541c411b

[2019-07-28 16:39] meletisf commented on #51
Yes it is active :)

[2019-09-04 12:12] ghost opened #53 "Support for Laravel 6.0?"

[2019-09-27 13:07] vasymus commented on #53
+1

[2019-09-30 07:10] farschmessivo commented on #53
+1

[2019-10-04 19:15] ayrtonmsa commented on #49
return $this->serve(HomePageDashboardFeature::class, ['argReceive' => $arg]);

in HomePageDashboardFeature constructor
__construct(TypeReceive $argReceive) or __construct($argReceive)

[2019-10-20 10:15] fahmifitu commented on #53
Please make it happen

[2019-10-22 19:10] laphoung1 commented on #53
Please put some efforts to make it for Laravel 6 as this package becomes an important depencies.  And can it be futureproof against any Laravel update ?  Thanks in the name of Laravel community.

[2019-10-22 20:05] ghost commented on #53
For everyone wanting an update on this. They made 6.0 branches on some of the core lucid repos a few weeks ago. Nothing has been committed to them last time I checked though.

[2019-10-22 20:05] ghost commented on #53
If anyone could make PRs and contribute to the update, that'll probably speed things up

[2019-10-22 21:37] fahmifitu commented on #53
I'm honestly clueless about this if I knew I would totally help.

[2019-11-11 18:24] soutorafaelbr commented on #53
+1

[2019-11-29 08:09] vov4ik08 commented on #53
Hello. Does it make sense to wait for the upgrade to the version 6 ?

[2019-11-29 08:26] ghost commented on #53
No it doesn't make sense. This should've been done long time ago.

[2019-11-29 08:27] vov4ik08 commented on #53
|  
-- | --

Too bad!

[2019-11-30 14:34] #53 closed, assigned to nobody

[2019-11-30 14:38] #51 closed, assigned to nobody

[2019-11-30 14:39] harris21 commented on #53
Sorry for the delay people, enjoy!

[2019-12-20 13:23] andreladocruz commented on #40
@harris21 , I tried to install the laravel-console package and it´s not compatible with laravel 6.8.0.

Any idea when it will be compatible?

[2019-12-20 20:37] harris21 commented on #40
Hello @andreladocruz , could you please some more information? What are the steps to reproduce the issue? (commands etc.)

[2019-12-21 10:16] andreladocruz commented on #40
just did a `composer require lucid-arch/laravel-foundation` and then a `composer require lucid-arch/laravel-console`.

The laravel-console one did not installed because it's dependencies.

[2019-12-22 10:26] harris21 commented on #40
Hey @andreladocruz, I just tried installing `lucid-arch/laravel-foundation` and `lucid-arch/laravel-console` in a clean Laravel 6.9.0 installation and it worked as expected.
Please check your application dependencies, seems like a package you are using conflicts with Lucid's requirements.

[2019-12-22 11:00] andreladocruz commented on #40
`composer require lucid-arch/laravel-foundation lucid-arch/laravel-console`

 - lucid-arch/laravel-console v6.0.0 requires stevebauman/log-reader ^1.1 -> satisfiable by stevebauman/log-reader[1.1.0].
    - Installation request for lucid-arch/laravel-console ^6.0 -> satisfiable by lucid-arch/laravel-console[v6.0.0].
    - Conclusion: remove laravel/framework v6.9.0
    - Conclusion: don't install l

[2019-12-22 11:18] andreladocruz commented on #40
the 6.0 branch has no stevebauman/log-reader dependency.

the master one has. Maybe that is the problem.

[2019-12-22 11:25] andreladocruz commented on #40
if you the release commit (https://github.com/lucid-architecture/console-laravel/commit/5ec3749b8204243e86e59bae82d6e89b90b3201c) you will find that the stevebauman/log-reader dependency was not removed

=P

[2019-12-22 11:55] harris21 commented on #40
@andreladocruz Correct, it was only part of the 6.0 branch and not released. Should be fine now, please check again.

[2019-12-22 12:16] andreladocruz commented on #40
Worked... =)

Thanks...

Why the lucid commands are not part of artisan list?

Maybe its a very good feature =)

We will try thanks.

[2019-12-22 13:11] #40 closed, assigned to nobody

[2019-12-23 13:45] RicardoRodriguesGuru opened #60 "laravel/helpers dependency missing"
I recently started a migration of a laravel project to lucid, so I ran the `composer require lucid-arch/laravel-foundation lucid-arch/laravel-console` command.

When I tried to generate a service with the `lucid make:service web` command, it gave a `PHP Fatal error: Uncaught Error: Call to undefined function Lucid\Console\studly_case()` error.

I fixed it by adding the dependency laravel/helpers t

[2019-12-26 12:51] vytsci opened #61 "Unable to prepare route [lucid/dashboard] for serialization. Uses Closure."
Routes cache is not working with lucid dashboard.

[2019-12-26 13:00] andreladocruz commented on #40
@harris21 , just to let you know that we had to install laravel/helpers package to work properly.

[2020-02-07 12:04] sasokovacic commented on #46
Anything new about this issue? I think this is a fundamental and very important aspect of the app and it should be fixed... Right now I'm using my own implementation but it would be really nice to use yours

[2020-02-07 12:10] harris21 commented on #46
Hello @sasokovacic ,

I haven’t had the time to check this issue yet, I apologize. I will take a look once I get some free time.
In the meantime, we would really appreciate a PR from your side, since you already have a working implementation - fix.

[2020-02-26 08:04] rfpdl opened #62 "PHP Notice: Constant DS already defined"
I have a project that has 2 packages installed that are using this constant:

- Lucid
- Arcanedev log viewer

Even though it is just a notice, what should I do to prevent this?

[code]

Note: Prior to updating Lucid to Laravel 6, this will cause PHP Error instead of just a notice. What I did before is I commented the constant value to make it work (inside the vendor. Yes I know it is not good, but

[2020-03-04 15:42] kohlerdominik commented on #38
had the same issue. can we get the [lucid-architecture/console-laravel#35](https://github.com/lucid-architecture/console-laravel/pull/35) merged @Mulkave?

[2020-04-02 19:46] kohlerdominik commented on #60
This was fixed in [804e562](https://github.com/lucid-architecture/console-laravel/commit/804e5629d3169039e1fe3482cbc526a731cf5c85).

@Mulkave I suggest to close this because it's fixed in the 7.x.

[2020-04-02 19:54] kohlerdominik commented on #38
I updated [console-laravel](https://github.com/lucid-architecture/console-laravel) to support package discovery [here](https://github.com/lucid-architecture/console-laravel/commit/b39484a21eebd62f27c2fcd16b149fc10a50ae8b).

To use package discovery, update your dependency of `lucid-arch/laravel-console` to `^7.0` and remove `Lucid\Console\LucidServiceProvider::class` from your `config/app.php`

@M

[2020-04-06 06:56] #38 closed, assigned to nobody

[2020-04-29 07:58] vov4ik08 opened #64 "The requested package lucid-arch/laravel-foundation ^7.0 exists as lucid-arch/laravel-foundation ..."
Hello. Try to install new project, use commad
composer create-project lucid-arch/laravel my-project
and get error

Problem 1
    - The requested package lucid-arch/laravel-foundation ^7.0 exists as lucid-arch/laravel-foundation[5.1.x-dev, 5.2.x-dev, 5.3.x-dev, 5.4.2, 5.4.x-dev, 5.5.x-dev, 5.6.x-dev, 5.7.x-dev, 5.8.x-dev, 6.0.x-dev, dev-master, v5.1.0, v5.1.1, v5.2.0, v5.2.1, v5.3.0, v5.3.1, v5.3.2

[2020-04-30 06:19] Mulkave commented on #64
Ouch, sorry about that. Version wasn't released yet. It is now! Please go ahead and try re-creating the project.

**Note:** You may need to create the project again because composer might try to load from cache and give the same error.

[2020-04-30 06:19] #64 closed, assigned to nobody

[2020-04-30 20:29] captainmio commented on #20
agree to this. hope we could have a sample CRUD testing

[2020-05-01 14:26] adiachenko commented on #20
I usually don't think of a unit testing in context of isolation because from my experience it hurts the quality of your tests. You start mocking stuff because you set out to write a "unit" test as soon enough your test suite becomes a glorified spell checker. Every time you code changes, you will need to change your tests. It' a bad smell. It's also practically impossible to do TDD in this way bec

[2020-05-14 18:05] lihusha opened #65 "Contract with several implementations"
May will be useful [case](https://stackoverflow.com/questions/61801173/using-contracts-in-laravel-lucid-context) for this package users.

[2020-05-15 07:04] Mulkave commented on #65
Thank you @lihusha for pointing it out. Just answered it 😄 I hope it satisfies the question.

[2020-05-15 07:04] #65 closed, assigned to Mulkave

[2020-06-21 07:43] yasalkhatib opened #66 "QueueableJob Naming Convention"
### Problem:
Currently, when creating a queueable job using the command:
`make:job --queue LogUserSearch user`
The job class name will be as follows: **LogUserSearchJob**

### Suggestion:
I would suggest changing the naming convention of queueable jobs to something like <job>QueueableJob or <job>QJob (LogUserSearchQueueableJob, or LogUserSearchQJob).
**By this,** the code will be more readable and

[2020-06-21 12:23] yasalkhatib opened #67 "[Question] How can we handle DB Transactions"
I have a question regarding DB Transactions.

### Example
Money Transfer from account A to Account B.
Feature: TranserMoneyFeature
Jobs:
     1. Withdraw Money from Account A
     2. Deposit money in Account B

What I would want to achieve is to make the two jobs above as a unit. All jobs or none.

Would you please suggest a way to do that?

[2020-06-29 15:48] Mulkave commented on #66
Good idea! Will trt to collect some votes on this from our [Slack workspace](https://lucid-slack.herokuapp.com) and move this to [Ideas issue board](https://github.com/lucid-architecture/ideas).

[2020-06-29 16:42] Mulkave commented on #67
If i understand correctly you're looking into a reversal in case one of these jobs fail? If so, this is an interesting case!

This makes a good case for an [operation](https://lucid-architecture.gitbook.io/docs/components#658b4769-cef3-4c8f-ac18-d4a582dee61e).

**Important**
Before going into the details, I'd like to highlight that these are usually handled at the DB layer and not at the architect

[2020-09-14 09:33] bilogic opened #68 "Structuring of an API class?"
Hi,

Suppose our app needs to access the PayPal API,

1. What kind of class will it be?
2. For most API, there is a usual login, getting a token and calling the various functions with the token, how do we structure this in LUCID?

Thank you.

[2020-09-14 10:21] Mulkave commented on #68
1. First of all since PayPal is going to be an integration point this means that you would have a Domain in that name
2. Create a `Client` class that is responsible for the communication with PayPal API `Domains/PayPal/PayPalClient.php`

In this class you would have methods such as `PayPalClient::authenticate`, `PayPalClient::send($url, $params)` etc. (you'd know better regarding the methods here

[2020-09-14 10:39] bilogic commented on #68
Do you mean it will look like below?
[code]

In other words, we will not have ```$PayPalClient->authenticate($username, $password)```, correct?

[2020-09-14 19:37] Mulkave commented on #68
Yes, very close! I can suggest a few enhancements to the above:

1. In a feature, only call jobs and operation. Never a direct class (i.e. `PayPalClient`)
2. No need to pass the client to `AuthenticateWithPayPalJob` because it already knows which class it needs to deal with
3. Exchange objects between jobs instead of primitive data types (strings, numbers, etc.)

Here's how it would look like afte

[2020-09-14 19:38] #60 closed, assigned to nobody

[2020-09-14 19:41] Mulkave commented on #49
@CROSP did the suggestion of @ayrtonmsa work? I would've suggested the same 👍

[2020-09-14 19:45] Mulkave commented on #44
Thanks @alexvtua @o-hreshchuk @kennyhorna for your suggestions. They should work as expected 👍

[2020-09-14 19:45] #44 closed, assigned to nobody

[2020-09-14 19:46] Mulkave commented on #46
@sasokovacic still care to elaborate on the issue? i don't really get where exactly the issue is? is it the response? or the default error code? because it should be 400 rather than 500.

[2020-09-14 19:46] #49 closed, assigned to nobody

[2020-09-14 19:47] Mulkave commented on #39
@believe2013 it is totally up to you to implement the routes within a service. Lucid will only provide a working skeleton but the internals and the decision on these are totally yours!

Please recommend your approach based on your solution when you have it, i am curious to know too.

[2020-09-14 19:47] #39 closed, assigned to nobody

[2020-09-14 19:52] Mulkave commented on #32
@dothem1337 depends on your expectation of speed. In our experience it has always been more than enough, a system made up of around 14 services based on [Laravel-microservice](https://github.com/lucid-architecture/laravel-microservice) package which has a slightly different structure.

In most cases, you'll be fine using either of these options. The constraints of Lucid-Lumen is what Harris mentio

[2020-09-14 19:52] #32 closed, assigned to nobody

[2020-09-14 20:02] Mulkave commented on #43
Hello Ely, and sorry for the late reply.

CommandBus is an extremely similar approach to what LUCID provides, except that the naming conventions of the classes are enough to communicate code structure and the relationship between the different components. Moving from one LUCID project to another will make you feel like home instantly due to the familiarity with naming and code placements.

GraphQL

[2020-09-14 20:02] #18 closed, assigned to adibhanna

[2020-09-14 20:04] #9 closed, assigned to nobody

[2020-09-14 20:04] #6 closed, assigned to nobody

[2020-09-14 20:05] #1 closed, assigned to nobody

[2020-09-14 20:05] #27 closed, assigned to nobody

[2020-09-14 20:09] flavioafa opened #69 "About good practices with the use of Lucid architecture"
Hello guys!

Would like to take some questions about good practices with the use of Lucid architecture.

- Reading the materials about it, I came to the conclusion that one should avoid accessing features directly, I understood that the most correct way would be to access the controller, is that correct?
- Is it okay for a service to call a foundation for a feature of another service?
- In the fou

[2020-09-14 21:36] Mulkave commented on #69
Hello @flavioafa

Thanks for asking these questions.

1. There is no restriction nor a preference to not access features directly. You can access them however you wish, even if you had to skip controllers. They are the consolidation of the feature’s steps so regardless how you would like to achieve the feature, what matters is for them to be in the feature. What needs to be avoided though is a job

[2020-09-15 02:26] bilogic commented on #68
Hmm... interesting.
Perhaps you could include such examples in the repo, it might gain a bigger following to LUCID.

Thanks.

[2020-09-15 02:26] #68 closed

[2020-09-15 06:36] sasokovacic commented on #46
Sorry, I didn't have time to create a PR. If I understand correctly, the purpose of the Lucid\Foundation\Validator class is to validate user input. But this class throws error code 500 instead of 4**. 500 is reserved for server errors, not for user validation. I'm catching error codes on the frontend and showing error messages. For error code 500 I show a general error message and for 4** error co

[2020-09-15 12:56] flavioafa commented on #69
Hello @Mulkave, thanks for your attention!

- On question 2, for example, we have a service that manages deadlines, these deadlines are used by other services, for example, to determine the end of an inspection period. In this scenario, we have the Inspection Service that needs the Deadline Service. Remembering that this is an example, we have others. Did you understand?
- In question 3, where I s

[2020-09-16 08:11] Mulkave commented on #46
I totally agree that the response should never be 500 for a validation error. But the validator isn't responsible for the response that is being returned. The validator's job is to throw the exception, then in `app/Exceptions/Handler.php` you would add the handling logic:

[code]

This is not shipped by default with LUCID because we can't know what you would like to respond with (JSON or a view or

[2020-09-16 09:44] Mulkave commented on #69
2. Ah, now i see what you mean. I think there's a misunderstanding of what a service in LUCID is. The way you are using them resembles SOA (service-oriented architecture), while in LUCID this is the role of Domains, to contain domain-specific jobs that can be executed by features and operations in any service. As explained in [the docs](https://lucid-architecture.gitbook.io/docs/#services), the ex

[2020-09-16 13:06] flavioafa commented on #69
Okay, I need to understand more. It's getting interesting!

I will explain to you how I understood it, based on what you explained to me, applying to the example I passed before. Let's go!

- Inspection is a service, which has an API.
- Deadline is a service that has an API.
- Each API mentioned has its methods of index, list, store and etc ... And can be accessed directly through requests.
- Howe

[2020-09-22 12:51] nicopenaredondo commented on #46
Hi @Mulkave,

tried your example code snippet and I encountered this error.

Error: Call to undefined method Framework\Exceptions\Handler::marshal()

[2020-09-23 12:05] Mulkave commented on #46
@nicopenaredondo indeed, that snippet was missing a few more traits. I think it's about time Lucid introduced a handler which this Handler extends. On the list! Updated my comment and added the missing traits please check again, and sorry about this.

[2020-09-23 12:25] nicopenaredondo commented on #46
Thanks @Mulkave

[2020-09-23 18:05] sasokovacic commented on #46
Hi @Mulkave, thanks for your explanation. I agree it's a better approach to let the developer decide what he/she wants. But this approach is a little bit different than Laravel's. Laravel's validator automagically handles these responses. It automatically redirects the user or in the case of ajax call it returns a JSON response with status code 422. I expected the same behavior with your validator

[2020-09-24 12:15] Mulkave commented on #46
@sasokovacic thank you for raising the flag on this, it indeed shows a missing piece of the Lucid puzzle. I will take that into consideration for the next iteration of updates!

Glad to be of help

[2020-09-24 12:15] #46 closed, assigned to nobody

[2020-09-29 13:54] nicopenaredondo opened #70 "Turn off lucid routes"
Any idea on how to turn off the routes of lucid ?

![image](https://user-images.githubusercontent.com/3615451/94567523-255ef300-029e-11eb-82d7-1df38c75161c.png)

[2020-09-29 14:57] Mulkave commented on #70
Please publish Lucid's config:

[code]

Then open `config/lucid.php`, initially `dashboard=null` set it to `false` and they will no longer show up in `route:list`

**Note:** careful this will also publish some files in `public/vendor/lucid` that you might want to remove if you won’t use the dashboard.

[2020-09-30 05:50] nicopenaredondo commented on #70
got it thanks @Mulkave

[2020-09-30 05:50] #70 closed, assigned to nobody

[2020-10-01 12:51] vov4ik08 opened #71 "Support for Laravel 8.x?"
Hello. Have you a plan to deploy your, cool, librarary for laravel 8.x

[2020-10-25 22:38] undjike commented on #71
Really need it on Laravel 8. I'm delaying a new project for this...

[2020-10-26 09:44] Mulkave commented on #69
In this scenario, Inspection and Deadline won't be separate services, but rather separate domains. A service is a way for your application to expose functionality. For example, you would have `src/Services/Api` where you expose functionality through an API, which has its own methods of authentication/authorisation, processing and response structures (JSON etc.).

And you may also expose the same d

[2020-10-26 10:08] undjike opened #72 "Services understading"
Hi, I'm following this issue [#69](https://github.com/lucid-architecture/laravel/issues/69) and I'm wondering whether in my case, I've misunderstood the purpose of services.
I have a system on which we have a chat, project managenement, human resources management and some others. I though each should be considered as a service because each has several feutures and quite different logics.
If I shou

[2020-10-26 10:24] undjike commented on #71
I created an issue on naming convention [issue](https://github.com/lucid-architecture/laravel-microservice/issues/19) on **lucid-architecture/laravel-microservices**. Just for you not to forget it on migrating this project to Laravel 8.

Also, depending on your considerations about the scope of this project, are you planning to consider Livewire implementation on services ?

Finally, I would like

[2020-10-26 12:04] Mulkave commented on #71
@vov4ik08 @undjike sorry for the delay on this. It is available now!

N.B. There's a change coming next month to the way you install Lucid into a project which will get us rid of waiting for an upgrade of this boilerplate. It will be as simple as `composer require lucid-arch/cli` then `lucid init` which can be run into an existing project as well!

@undjike

Thanks! Will fix in Microservice projec

[2020-10-26 12:04] #71 closed, assigned to Mulkave

[2020-10-26 12:06] Mulkave commented on #71
I just found [this issue](https://github.com/lucid-architecture/laravel-microservice/issues/18) that you already opened. Thanks for that! Could you please provide more details on what exactly you would like to know? @undjike

[2020-10-26 15:00] undjike commented on #71
Waouh so fast. Thanks @Mulkave
But seems like you made a little mistake on the push. The project's documentation (on **readme.md**) is now the Laravel base readme.

[2020-10-26 15:35] Mulkave commented on #71
@undjike oops! Fixed. Thanks!

[2020-10-26 15:49] Mulkave commented on #72
There is no misunderstanding to the purpose of services at all on your side. Since Lucid is a flexible architecture and is only providing the "shell" of your application, its principles do not dictate what the services are and which pattern is followed in creating them. It is use-case dependant so you may use it whichever way that's best for your purpose. Web, Api and Admin are just simple example

[2020-10-27 08:02] undjike commented on #72
Okay, it's perfectly clear now... Thanks.

[2020-10-27 08:02] #72 closed

[2020-11-12 01:59] undjike commented on #14
@Mulkave said: You may use Laravel's php artisan migrate --path=src/Services/{service}/database/migrations/{file}.php to specify a custom path for the migration.

[2020-11-16 13:32] undjike opened #73 "New way of installing Lucid"
Hi @Mulkave , please can you tell us when this way of installing Lucid will be available ?

[2020-11-16 22:14] Mulkave commented on #73
@undjike thanks for asking, it is scheduled for the end of this month. A lot of it has already been worked at https://github.com/lucid-architecture/lucid and the new home for docs is https://docs.lucidarch.dev (still work in progress, will be done end of this week).

I will let you know of all the changes that came with this release, it is very exciting! And much easier to use and maintain.

[2020-11-16 22:52] undjike commented on #73
So glad. I stay tuned for news.

[2020-11-16 23:10] undjike commented on #73
That new documentation is very amazing at the first look. I'll take time on it as soon as possible.

[2020-11-26 08:41] kohlerdominik opened #74 "Incompatiblity with Laravel8-ModelFactories"
Hi there

Is the Boilerplate incompatbile with Laravel8 ModelFactories?

The reworked implementation guesses Factory-Names by default. It takes the Container-Namespace and strips it from the Model-Class, then prepends it it with the new path.

But because in Lucid, the Container lives in `\Framework` namespaces, while Models live in `\App`-Namespace, the Namespace gets not stripped correctly. Sure

[2020-12-01 17:44] Mulkave commented on #74
@kohlerdominik some insider info, the boilerplates are going to be deprecated soon for the new method of installation. The docs and more info on the changes coming up early next week! Meanwhile, please go ahead and check the new docs at [https://docs.lucidarch.dev](https://docs.lucidarch.dev). It has been tested with L8 to work as expected with factories too.

TL;DR: You'll need to install Laravel

[2020-12-02 11:33] undjike commented on #73
Hello @Mulkave, I've fully read the new documentation and I want to congratulate the team for the outstanding work.

Nevertheless, I have a minor question or two.

- Is it not necessary to implement API Resources as Laravel does (php artisan make:resource) ?
- Is there any recommendation concerning API Versioning ?

[2020-12-04 16:27] flavioafa commented on #69
Hello! Thanks for your attention! It was very enlightening. When I have news come here to share.

[2020-12-10 19:52] Mulkave commented on #74
@kohlerdominik we're out! Closing in favour of https://github.com/lucidarch/lucid. If any issue occurs please report it on that repo instead. Much appreciated!

[2020-12-10 19:52] #74 closed, assigned to nobody

[2020-12-10 19:57] Mulkave commented on #73
Hey @undjike

- Sorry i didn't understand what you mean with this question. All lucid "make" commands are under the `make:*` namespace:
[code]

- Nothing specific, no. It's a rather tricky matter that is dealt with differently depending on the case. Have you thought of the different options?

[2020-12-10 19:59] Mulkave commented on #62
Thanks for reporting, it's been covered in the new repo: https://github.com/lucidarch/lucid/blob/main/src/Finder.php#L14

[2020-12-10 19:59] #62 closed, assigned to nobody

[2020-12-10 20:19] undjike commented on #73
Hello @Mulkave

- Yes, I'm aware of the existing `make` commands. I was wondering if it's not necessary to implement as well the `make:resource` as Laravel does... As I didn't see it in Lucid.

- I don't know if it's the best way to handle it but, I think implementing Json Resources (with `make:resource` command) can be useful when versioning APIs. So that the logic will be to return Json Resource

[2020-12-10 21:17] #43 closed, assigned to nobody

[2020-12-10 21:31] Mulkave commented on #33
Sorry for the inconvenience, with Lucid 1.0 the dashboard has been temporarily deprecated to undergo a rework. Since you've had the curiosity to check it out, I would like to ask you:

1. What would you be using it for?
2. What is the feature you saw most beneficial?

If possible, please open a Discussion at the new repo [lucidarch/lucid](https://github.com/lucidarch/lucid/discussions) if interest

[2020-12-10 21:31] #33 closed, assigned to nobody

[2020-12-10 21:32] #31 closed, assigned to nobody

[2020-12-10 21:38] #19 closed, assigned to nobody

[2020-12-10 21:40] Mulkave commented on #15
It is now covered in the docs to use queued units such as [jobs](https://docs.lucidarch.dev/jobs/#queuable-jobs) and [operations](https://docs.lucidarch.dev/operations/#queueable-operations).

[2020-12-10 21:40] #15 closed, assigned to alisissa

[2020-12-10 21:44] Mulkave commented on #14
Thanks @undjike that is exactly how it works. It was left as such because there's an existing functionality that can achieve it, but i would be happy to provide a command that runs this in the background if it's deemed helpful such as:

[code]

Nevertheless, it's also been covered in [the docs](https://docs.lucidarch.dev/services/#migrations) now, thank you all for reporting!

[2020-12-10 21:44] #14 closed, assigned to nobody

[2020-12-10 21:48] Mulkave commented on #73
Ah, i see. I'm sorry I'm personally not acquainted with Laravel Resources just yet, but would love to give it a try and see how to use that with Lucid. Added to the roadmap 👍

Have you succeeded in including them in a Lucid project yourself? Would love to learn more from you about it.

[2020-12-10 22:13] Mulkave commented on #73
I think i just understood what you mean by that after seeing a friend's suggestion about a `lucid make:resource` that would generate features along with the controller and methods: https://github.com/lucidarch/lucid/discussions/11

Lovely, thank you!

Since this repository will now be archived in favour of https://github.com/lucidarch/lucid, please go ahead and continue the conversation in the lin

[2020-12-10 22:32] #73 closed, assigned to nobody